.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    background-color: var(--footer);
}

.footer p{
    color: var(--blanco);
    font-family: var(--font);
    font-size: 1rem;
    margin-top: 1em ;
}