.contenedor{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4em;
    margin: 4em;
}
.listaVideos{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5em;
}
.sinVideos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--fondo);
    color: var(--blanco);
    font-size: 2rem;
    font-weight: bold;
}