.picture{
    filter: drop-shadow(0px 0px 2px var(--blanco)) drop-shadow(0px 0px 2px red) drop-shadow(0px 0px 2px var(--logo));
}
.logo{ 
    transition: all .5s ease;
}
.logo:hover{
    filter: drop-shadow(0px 0px 2px var(--logo));
    transform: scale(1.1);
}